<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bookstore Example UI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">Bookstore Example UI</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../index.html">Bookstore Example UI</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                                <li class="link">
                                  <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-additional-pages"
                            >
                            <span class="fa fa-book"></span>
                            <span>Tutorial</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-additional-pages"
                            >
                                <li class="link ">
                                    <a href="../additional-documentation/angular.html" >Angular</a>
                                </li>
                                <li class="link for-chapter">
                                    <a href="../additional-documentation/angular/components.html" >Components</a>
                                </li>
                                <li class="link ">
                                    <a href="../additional-documentation/bootstrap.html" >Bootstrap</a>
                                </li>
                                <li class="link ">
                                    <a href="../additional-documentation/typescript.html" >TypeScript</a>
                                </li>
                                <li class="link ">
                                    <a href="../additional-documentation/tooling.html" >Tooling</a>
                                </li>
                                <li class="link ">
                                    <a href="../additional-documentation/web_development.html" >Web_Development</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../modules.html" >
                            <div class="menu-toggler linked" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            >
                                <span class="fa fa-archive"></span>
                                <span class="link-name">Modules</span>
                                <span class="fa fa-angle-down"></span>
                            </div>
                        </a>
                        <ul class="links collapse "
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/AppModule.html" >AppModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/BookDetailModule.html"  data-type="entity-link" class="active" >BookDetailModule</a>
                                </li>
                                <li class="link">
                                    <a href="../modules/BookListModule.html" >BookListModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-components-links"
                            >
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/BookDetailComponent.html" >BookDetailComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/BookListComponent.html" >BookListComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/CommentsComponent.html" >CommentsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/GridItemComponent.html" >GridItemComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/GridViewComponent.html" >GridViewComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ListViewComponent.html" >ListViewComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/PriceComponent.html" >PriceComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/RatingComponent.html" >RatingComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-classes-links"
                            >
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="../classes/Book.html" >Book</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Price.html" >Price</a>
                                </li>
                                <li class="link">
                                    <a href="../classes/Rating.html" >Rating</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-injectables-links"
                            >
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="../injectables/BooksService.html" >BooksService</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple menu-toggler" data-toggle="collapse"
                                data-target="#xs-pipes-links"
                            >
                            <span class="fa fa-plus"></span>
                            <span>Pipes</span>
                            <span class="fa fa-angle-down"></span>
                        </div>
                        <ul class="links collapse "
                                id="xs-pipes-links"
                            >
                                <li class="link">
                                    <a href="../pipes/DiscountPipe.html" >DiscountPipe</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../index.html">Bookstore Example UI</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../index.html"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                                       <li class="link">
                                         <a href="../index.html" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#additional-pages"
                   >
                                   <span class="fa fa-book"></span>
                                   <span>Tutorial</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="additional-pages"
                   >
                                       <li class="link ">
                                           <a href="../additional-documentation/angular.html" >Angular</a>
                                       </li>
                                       <li class="link for-chapter">
                                           <a href="../additional-documentation/angular/components.html" >Components</a>
                                       </li>
                                       <li class="link ">
                                           <a href="../additional-documentation/bootstrap.html" >Bootstrap</a>
                                       </li>
                                       <li class="link ">
                                           <a href="../additional-documentation/typescript.html" >TypeScript</a>
                                       </li>
                                       <li class="link ">
                                           <a href="../additional-documentation/tooling.html" >Tooling</a>
                                       </li>
                                       <li class="link ">
                                           <a href="../additional-documentation/web_development.html" >Web_Development</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../modules.html" >
                                   <div class="menu-toggler linked" data-toggle="collapse"
                                           data-target="#modules-links"
                                   >
                                       <span class="fa fa-archive"></span>
                                       <span class="link-name">Modules</span>
                                       <span class="fa fa-angle-down"></span>
                                   </div>
                               </a>
                               <ul class="links collapse "
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/AppModule.html" >AppModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/AppRoutingModule.html" >AppRoutingModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/BookDetailModule.html"  data-type="entity-link" class="active" >BookDetailModule</a>
                                       </li>
                                       <li class="link">
                                           <a href="../modules/BookListModule.html" >BookListModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#components-links"
                   >
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/BookDetailComponent.html" >BookDetailComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/BookListComponent.html" >BookListComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/CommentsComponent.html" >CommentsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/GridItemComponent.html" >GridItemComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/GridViewComponent.html" >GridViewComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/HeaderComponent.html" >HeaderComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ListViewComponent.html" >ListViewComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/PriceComponent.html" >PriceComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/RatingComponent.html" >RatingComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#classes-links"
                   >
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="../classes/Book.html" >Book</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Price.html" >Price</a>
                                       </li>
                                       <li class="link">
                                           <a href="../classes/Rating.html" >Rating</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#injectables-links"
                   >
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="../injectables/BooksService.html" >BooksService</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple menu-toggler" data-toggle="collapse"
                                       data-target="#pipes-links"
                   >
                                   <span class="fa fa-plus"></span>
                                   <span>Pipes</span>
                                   <span class="fa fa-angle-down"></span>
                               </div>
                               <ul class="links collapse "
                                       id="pipes-links"
                   >
                                       <li class="link">
                                           <a href="../pipes/DiscountPipe.html" >DiscountPipe</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../routes.html" ><span class="fa fa-code-fork"></span>Routes</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/website/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content module">
                   <div class="content-data">



<ol class="breadcrumb">
  <li>Modules</li>
  <li>BookDetailModule</li>
</ol>

<div class="text-center">
    <div id="module-graph-svg">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
 "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<!-- Generated by graphviz version 2.40.1 (20161225.0304)
 -->
<!-- Title: dependencies Pages: 1 -->
<svg width="988pt" height="211pt"
 viewBox="0.00 0.00 988.00 211.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 207)">
<title>dependencies</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-207 984,-207 984,4 -4,4"/>
<text text-anchor="start" x="469.0091" y="-42.4" font-family="sans-serif" font-weight="bold" font-size="14.00" fill="#000000">Legend</text>
<polygon fill="#ffffb3" stroke="transparent" points="256,-10 256,-30 276,-30 276,-10 256,-10"/>
<text text-anchor="start" x="279.629" y="-15.4" font-family="sans-serif" font-size="14.00" fill="#000000"> &#160;Declarations</text>
<polygon fill="#8dd3c7" stroke="transparent" points="369,-10 369,-30 389,-30 389,-10 369,-10"/>
<text text-anchor="start" x="392.7251" y="-15.4" font-family="sans-serif" font-size="14.00" fill="#000000"> &#160;Module</text>
<polygon fill="#80b1d3" stroke="transparent" points="455,-10 455,-30 475,-30 475,-10 455,-10"/>
<text text-anchor="start" x="478.7812" y="-15.4" font-family="sans-serif" font-size="14.00" fill="#000000"> &#160;Bootstrap</text>
<polygon fill="#fdb462" stroke="transparent" points="552,-10 552,-30 572,-30 572,-10 552,-10"/>
<text text-anchor="start" x="575.6732" y="-15.4" font-family="sans-serif" font-size="14.00" fill="#000000"> &#160;Providers</text>
<polygon fill="#fb8072" stroke="transparent" points="648,-10 648,-30 668,-30 668,-10 648,-10"/>
<text text-anchor="start" x="671.7258" y="-15.4" font-family="sans-serif" font-size="14.00" fill="#000000"> &#160;Exports</text>
<g id="clust1" class="cluster">
<title>cluster_BookDetailModule</title>
<polygon fill="none" stroke="#000000" stroke-dasharray="1,5" points="8,-70 8,-195 972,-195 972,-70 8,-70"/>
</g>
<g id="clust2" class="cluster">
<title>cluster_BookDetailModule_declarations</title>
<polygon fill="none" stroke="#000000" points="268,-78 268,-130 964,-130 964,-78 268,-78"/>
</g>
<g id="clust8" class="cluster">
<title>cluster_BookDetailModule_imports</title>
<polygon fill="none" stroke="#000000" points="16,-78 16,-130 260,-130 260,-78 16,-78"/>
</g>
<!-- BookDetailComponent -->
<g id="node1" class="node">
<title>BookDetailComponent</title>
<polygon fill="#ffffb3" stroke="#000000" points="955.8767,-122 810.1233,-122 810.1233,-86 955.8767,-86 955.8767,-122"/>
<text text-anchor="middle" x="883" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">BookDetailComponent</text>
</g>
<!-- BookDetailModule -->
<g id="node6" class="node">
<title>BookDetailModule</title>
<polygon fill="#8dd3c7" stroke="#000000" points="519.094,-187 516.094,-191 495.094,-191 492.094,-187 394.906,-187 394.906,-151 519.094,-151 519.094,-187"/>
<text text-anchor="middle" x="457" y="-164.8" font-family="Times,serif" font-size="14.00" fill="#000000">BookDetailModule</text>
</g>
<!-- BookDetailComponent&#45;&gt;BookDetailModule -->
<g id="edge1" class="edge">
<title>BookDetailComponent&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M883,-122.2921C883,-144.2057 883,-178 883,-178 883,-178 529.4003,-178 529.4003,-178"/>
<polygon fill="#000000" stroke="#000000" points="529.4003,-174.5001 519.4003,-178 529.4002,-181.5001 529.4003,-174.5001"/>
</g>
<!-- PriceComponent -->
<g id="node2" class="node">
<title>PriceComponent</title>
<polygon fill="#ffffb3" stroke="#000000" points="792.0954,-122 681.9046,-122 681.9046,-86 792.0954,-86 792.0954,-122"/>
<text text-anchor="middle" x="737" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">PriceComponent</text>
</g>
<!-- PriceComponent&#45;&gt;BookDetailModule -->
<g id="edge2" class="edge">
<title>PriceComponent&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M737,-122.1061C737,-141.3391 737,-169 737,-169 737,-169 529.1411,-169 529.1411,-169"/>
<polygon fill="#000000" stroke="#000000" points="529.1411,-165.5001 519.1411,-169 529.141,-172.5001 529.1411,-165.5001"/>
</g>
<!-- RatingComponent -->
<g id="node3" class="node">
<title>RatingComponent</title>
<polygon fill="#ffffb3" stroke="#000000" points="664.1653,-122 545.8347,-122 545.8347,-86 664.1653,-86 664.1653,-122"/>
<text text-anchor="middle" x="605" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">RatingComponent</text>
</g>
<!-- RatingComponent&#45;&gt;BookDetailModule -->
<g id="edge3" class="edge">
<title>RatingComponent&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M605,-122.027C605,-138.3976 605,-160 605,-160 605,-160 529.3364,-160 529.3364,-160"/>
<polygon fill="#000000" stroke="#000000" points="529.3364,-156.5001 519.3364,-160 529.3363,-163.5001 529.3364,-156.5001"/>
</g>
<!-- CommentsComponent -->
<g id="node4" class="node">
<title>CommentsComponent</title>
<polygon fill="#ffffb3" stroke="#000000" points="528,-122 386,-122 386,-86 528,-86 528,-122"/>
<text text-anchor="middle" x="457" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">CommentsComponent</text>
</g>
<!-- CommentsComponent&#45;&gt;BookDetailModule -->
<g id="edge4" class="edge">
<title>CommentsComponent&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M457,-122.1061C457,-122.1061 457,-140.991 457,-140.991"/>
<polygon fill="#000000" stroke="#000000" points="453.5001,-140.9909 457,-150.991 460.5001,-140.991 453.5001,-140.9909"/>
</g>
<!-- DiscountPipe -->
<g id="node5" class="node">
<title>DiscountPipe</title>
<polygon fill="#ffffb3" stroke="#000000" points="367.9358,-122 276.0642,-122 276.0642,-86 367.9358,-86 367.9358,-122"/>
<text text-anchor="middle" x="322" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">DiscountPipe</text>
</g>
<!-- DiscountPipe&#45;&gt;BookDetailModule -->
<g id="edge5" class="edge">
<title>DiscountPipe&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M322,-122.027C322,-138.3976 322,-160 322,-160 322,-160 384.6372,-160 384.6372,-160"/>
<polygon fill="#000000" stroke="#000000" points="384.6372,-163.5001 394.6372,-160 384.6371,-156.5001 384.6372,-163.5001"/>
</g>
<!-- CommonModule -->
<g id="node7" class="node">
<title>CommonModule</title>
<polygon fill="#8dd3c7" stroke="#000000" points="251.6681,-122 248.6681,-126 227.6681,-126 224.6681,-122 140.3319,-122 140.3319,-86 251.6681,-86 251.6681,-122"/>
<text text-anchor="middle" x="196" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">CommonModule</text>
</g>
<!-- CommonModule&#45;&gt;BookDetailModule -->
<g id="edge6" class="edge">
<title>CommonModule&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M196,-122.1061C196,-141.3391 196,-169 196,-169 196,-169 384.8156,-169 384.8156,-169"/>
<polygon fill="#000000" stroke="#000000" points="384.8156,-172.5001 394.8156,-169 384.8156,-165.5001 384.8156,-172.5001"/>
</g>
<!-- RouterModule -->
<g id="node8" class="node">
<title>RouterModule</title>
<polygon fill="#8dd3c7" stroke="#000000" points="121.6528,-122 118.6528,-126 97.6528,-126 94.6528,-122 24.3472,-122 24.3472,-86 121.6528,-86 121.6528,-122"/>
<text text-anchor="middle" x="73" y="-99.8" font-family="Times,serif" font-size="14.00" fill="#000000">RouterModule</text>
</g>
<!-- RouterModule&#45;&gt;BookDetailModule -->
<g id="edge7" class="edge">
<title>RouterModule&#45;&gt;BookDetailModule</title>
<path fill="none" stroke="#000000" d="M73,-122.2921C73,-144.2057 73,-178 73,-178 73,-178 384.877,-178 384.877,-178"/>
<polygon fill="#000000" stroke="#000000" points="384.877,-181.5001 394.877,-178 384.8769,-174.5001 384.877,-181.5001"/>
</g>
</g>
</svg>

    </div>
    <div class="btn-group">
        <button id="zoom-in" class="btn btn-default btn-sm">Zoom in</button>
        <button id="reset" class="btn btn-default btn-sm">Reset</button>
        <button id="zoom-out" class="btn btn-default btn-sm">Zoom out</button>
    </div>
</div>
<script src="../js/libs/svg-pan-zoom.min.js"></script>
<script src="../js/svg-pan-zoom.controls.js"></script>

<ul class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#info" id="info-tab" role="tab" data-toggle="tab" data-link="info">Info</a>
    </li>
    

    <li>
        <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="info">

        <p class="comment">
            <h3>File</h3>
        </p>
        <p class="comment">
            <code>src/app/book-detail/book-detail.module.ts</code>
        </p>

            <p class="comment">
                <h3>Description</h3>
            </p>
            <p class="comment">
                <p>Module that encapsulates all the features 
related to the display of a single book&#39;s details</p>

            </p>

        <div class="container-fluid module">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Declarations<a href="https://angular.io/docs/ts/latest/api/core/index/NgModule-interface.html#!#declarations-anchor" target="_blank"><span class="fa fa-info-circle"></span></a></h3>
                    <ul class="list-group">
                            <li class="list-group-item">
                                <a href="../components/BookDetailComponent.html">BookDetailComponent</a>
                            </li>
                            <li class="list-group-item">
                                <a href="../components/PriceComponent.html">PriceComponent</a>
                            </li>
                            <li class="list-group-item">
                                <a href="../components/RatingComponent.html">RatingComponent</a>
                            </li>
                            <li class="list-group-item">
                                <a href="../components/CommentsComponent.html">CommentsComponent</a>
                            </li>
                            <li class="list-group-item">
                                <a href="../pipes/DiscountPipe.html">DiscountPipe</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade tab-source-code" id="source">
        <pre class="line-numbers"><code class="language-typescript">import { NgModule } from &#x27;@angular/core&#x27;;
import { CommonModule } from &#x27;@angular/common&#x27;;
import { RouterModule } from &#x27;@angular/router&#x27;;

import { BookDetailComponent } from &#x27;./book-detail.component&#x27;;
import { PriceComponent } from &#x27;./price/price.component&#x27;;
import { RatingComponent } from &#x27;./rating/rating.component&#x27;;
import { CommentsComponent } from &#x27;./comments/comments.component&#x27;;

import { DiscountPipe } from &quot;./discount.pipe&quot;;

/**
 * Module that encapsulates all the features 
 * related to the display of a single book&#x27;s details
 */
@NgModule({
  imports: [
    CommonModule, // this is required for common directives like *ngIf, *ngFor etc.
    RouterModule // this is required for the routerLink directive
  ],
  declarations: [
    BookDetailComponent, 
    PriceComponent, 
    RatingComponent, 
    CommentsComponent, 
    DiscountPipe
  ]
})
export class BookDetailModule { }
</code></pre>
    </div>
</div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script>var COMPODOC_CURRENT_PAGE_DEPTH = 1;</script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
       <script src="../js/search/search_index.js"></script>

    </body>
</html>
