<!-- BOOTSTRAP'S PANELS, see here: http://getbootstrap.com/components/#panels -->
<div class="panel panel-default">
    <div class="panel-heading">
        <!-- BOOTSTRAP'S BUTTON GROUPS, see here: http://getbootstrap.com/components/#btn-groups -->
        <div class="btn-group">
            <!-- https://angular.io/guide/template-syntax#class-binding -->
            <button type="button" class="btn btn-default" [class.active]="view === viewType.List"  
                (click)="switchToListView()">
                <span class="glyphicon glyphicon-th-list"></span> List
            </button>
            <button type="button" class="btn btn-default" [class.active]="view === viewType.Grid" 
                (click)="switchToGridView()">
                <span class="glyphicon glyphicon-th"></span> Grid
            </button>
        </div>
    </div>
    <div class="panel-body" [ngSwitch]="view">
        <book-list-view 
            [books]="books" 
            *ngSwitchCase="viewType.List">
        </book-list-view>
        <book-grid-view
            [books]="books"
            *ngSwitchCase="viewType.Grid">
        </book-grid-view>
    </div>
</div>