<!-- BOOTSTRAP'S THUMBNAILS, see here: http://getbootstrap.com/components/#thumbnails -->
<div class="thumbnail">
  <img src="assets/no-book-cover.png" width="100px" alt="cover">
  <div class="caption">
    <!-- this button is styled to look like a link -->
    <!-- the inline style makes the button text wrap, see here: https://stackoverflow.com/a/18996295 -->
    <button type="button" class="btn btn-link" style="white-space: normal"
      (click)="onClick()">
      <h2 class="h4">{{book.product.title}}</h2>
    </button>
    <p>{{book.product.description}}</p>
  </div>
</div>
