<!-- BACK LINK -->
<a routerLink="/books"><span class="glyphicon glyphicon-arrow-left"></span> All Books</a>
<hr>
<!-- BOOK DETAILS -->
<!-- see here: https://angular.io/api/common/NgIf#showing-an-alternative-template-using-else -->
<!-- book will be undefined till the async call returns with data -->
<div *ngIf="book; else bookUndefined">
  <h2 class="h3">{{book.product.title}}</h2>
  <div class="row">
    <div class="col-sm-2"><img src="assets/no-book-cover.png" alt="cover" class="img-responsive"></div>
    <div class="col-sm-10">
      <p>by {{book.product.author}}</p>
      <book-rating [rating]="book.rating"></book-rating>
      <book-price [price]="book.price"></book-price>
      <p>{{ book.product.description }}</p>
    </div>
  </div>
  <hr>
  <book-comments [comments]="book.comments"></book-comments>
</div>
<ng-template #bookUndefined>Loading book details ...</ng-template>