<!-- BACK LINK -->
<a routerLink="/books"><span class="glyphicon glyphicon-arrow-left"></span> All Books</a>
<hr>
<!-- BOOK DETAILS -->
<!-- see here: https://angular.io/api/common/NgIf#showing-an-alternative-template-using-else -->
<div *ngIf="book; else bookNotAvailable">
  <h3>{{book.product.title}}</h3>
  <!-- BOOTSTRAP'S GRID SYSTEM - see here: http://getbootstrap.com/css/#grid -->
  <!-- on devices sized 'small' and up, the image occupies 2 cols and the rest the remaining 10 cols -->
  <!-- on extra small devices, the image will be stacked on top of the rest of the details -->
  <div class="row">
    <div class="col-sm-2">
      <img src="assets/no-book-cover.png" alt="cover" class="img-responsive">
    </div>
    <div class="col-sm-10">
      <p>by {{book.product.author}}</p>
      <book-rating [rating]="book.rating"></book-rating>
      <book-price [price]="book.price"></book-price>
      <p>{{ book.product.description }}</p>
    </div>
  </div>
  <hr>
  <!-- COMMENTS SECTION -->
  <h4>Comments</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let comment of book.comments">{{ comment }}</li>
  </ul>
</div>
<ng-template #bookNotAvailable>Loading book details ...</ng-template>